<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    	
                
body{margin-top:20px;background-color: rgba(1,31,63,255);}              
.modal-footer {   border-top: 0px; }
    </style>
</head>
<body>

<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
        
          <h1 class="text-center">Login</h1>
      </div>
      <div class="modal-body">
          
            
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block" onclick="location.href='slogin'">Student</button>
              
            </div>
            <button class="btn btn-primary btn-lg btn-block" onclick="location.href='login'">Faculty</button>
          
      </div>
  </div>
  </div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>