{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>  </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}" />

</head>	
<body>
        <h1>Reset Your Password</h1> 
<div class="form-container">
    
    <form action="{{email}}" method="POST" class="form-wrap">
        {% csrf_token %}
        <h2>Enter Password</h2>
        <div class="form-box">
            <input type="text" name='p1' placeholder="Enter password" />
        </div>
        <h2>Re-enter Password</h2>
        <div class="form-box">
                <input type="text" name='p2' placeholder="Re-enter password" />
            </div>
        <div class="form-submit" >
            <input   type="submit" value="Send" />
        </div>
    </form>
    <div>
        {% for i in messages%}
          <h2 style="text-align:center">{{i}}</h2>
        {% endfor%}
    </div>
</div>

</body>
</html>	